<%- include("partials/header")%>
<div class="container">
      <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
                <a class="btn btn-primary btn-lrg" href="/campgrounds/new">Add Campground</a>
            </p>
        </div>
    </header>  

    
    <div class="row text-center" > 
        <h3>Our Most popular campgrounds</h3>
        <div style="display:flex; flex-flow: wrap">
                <% camps.forEach(camp =>{ %>   
                    <div class="col-md-3 col-sm-6">
                            <div class="thumbnail"  >
                                <img src="<%= camp.image %>">
                                <div class="caption"><h4><%= camp.name %></h4></div>
                            </div>                                                
                    </div>        
                <% }); %>
        </div>
    </div>
        <% camps.forEach(camp =>{ %>     
            <div class="col-lg-4">
                <h4>
                    <%= camp.name %> 
                </h4>
                <img class="img-thumbnail" src="<%= camp.image %>">
            </div>
        
        
        <% }); %>

</div>


<%- include("partials/footer")%>

